*{background-color: rgb(166, 234, 191);}
.clear {
	clear: both;
}
a{color: black; text-decoration: none;}
/*------ header Area ------*/
header {
	width: 1200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#I_headerFont {
	font-family:'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 25px;
	float: left;
}
/*------ section Area ------*/
section {
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-image: url('../img/처음이미지2.jpg');
	background-repeat: no-repeat;
}
/*------ id btns1~5 ------*/
#I_btns1 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 10px 10px 0 65px;
}
#I_btns2 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 10px 10px 0 10px;
}
#I_btns3 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 10px 10px 0 10px;
}
#I_btns4 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 10px 10px 0 10px;
}
#I_btns5 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 10px 50px 0 10px;
}
/*------ class buttons ------*/
.C_buttons {
	border: 1px solid rgba(255, 252, 202, 0.671);
	border-radius: 5px;
	background-color: rgb(255, 252, 202);
	margin: 3px auto;
	padding: 5px;
	display: block;
	width:200px;
	height: auto;
	
	cursor: pointer;

	color: rgba(194, 109, 197, 0.795);
	font-family:'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	transition:all 0.9s;
}
.C_buttons:hover {
	color:rgb(255, 252, 202);
}
/*------ id btns1 ------*/
#I_hover1:hover {
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.5) inset;
}	
#I_imageDiv1 {
	width: 1000px;
	height: 450px;
	float: right;
	position: absolute;
	margin: 60px 100px 0 100px;
}
#I_imageDiv1 img {
	width: 1000px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
}
#I_btns1 ~ #I_imageDiv1 {
	opacity: 0;
	transition: opacity 2s
}
#I_btns1:hover ~ #I_imageDiv1 {
	opacity: 1;
}
/*------ id btns2 ------*/
#I_hover2:hover{
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.5) inset;
}
#I_imageDiv2 {
	width: 1000px;
	height: 450px;
	float: right;
	position: absolute;
	margin: 60px 100px 0 100px;
}
#I_imageDiv2 img {
	width: 1000px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
}
#I_btns2 ~ #I_imageDiv2 {
	opacity: 0;
	transition: opacity 2s
}
#I_btns2:hover ~ #I_imageDiv2 {
	opacity: 1;
}
/*------ id btns3 ------*/
#I_hover3:hover{
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.5) inset;
}
#I_imageDiv3 {
	width: 1000px;
	height: 450px;
	float: right;
	position: absolute;
	margin: 60px 100px 0 100px;
}
#I_imageDiv3 img {
	width: 1000px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
}
#I_btns3 ~ #I_imageDiv3 {
	opacity: 0;
	transition: opacity 2s
}
#I_btns3:hover ~ #I_imageDiv3 {
	opacity: 1;
}
/*------ id btns4 ------*/
#I_hover4:hover{
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.5) inset;
}
#I_imageDiv4 {
	width: 1000px;
	height: 450px;
	float: right;
	position: absolute;
	margin: 60px 100px 0 100px;
}
#I_imageDiv4 img {
	width: 1000px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
}
#I_btns4 ~ #I_imageDiv4 {
	opacity: 0;
	transition: opacity 2s
}
#I_btns4:hover ~ #I_imageDiv4 {
	opacity: 1;
}
/*------ id btns5 ------*/
#I_hover5:hover{
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.5) inset;
}
#I_imageDiv5 {
	width: 1000px;
	height: 450px;
	float: right;
	position: absolute;
	margin: 60px 100px 0 100px;
}
#I_imageDiv5 img {
	width: 1000px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
}
#I_btns5 ~ #I_imageDiv5 {
	opacity: 0;
	transition: opacity 2s
}
#I_btns5:hover ~ #I_imageDiv5 {
	opacity: 1;
}
/*------ footer Area ------*/
footer {
	margin-left: auto;
	margin-right: auto;
	background-image: '../img/coffee-cup (2).png';
}
#I_coffeeButton {
	position: absolute; 
	right:0;
	bottom:0;
	width:100px; 
	height: 100px;
	cursor: pointer;
	background: rgb(166, 234, 191);
	transition: all 2s;
	
}
#I_coffeeEmpty {
	position: absolute;
}
#I_coffeeFull {
	position: absolute;
}
#I_coffeeButton:hover {
	background: brown;
}
#I_coffeeButton > #I_coffeeFull {
	opacity: 0;
	transition: opacity 1s;
}
#I_coffeeButton:hover > #I_coffeeFull {
	opacity: 1;
}